# OS X
.DS_Store

# Environments and dependencies
.env
.venv/
node_modules/

# Python cache and tools
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Project specific
*.sqlite
*.sqlite-journal
data/
!data/.gitkeep

# IDEs
.vscode/
.idea/